html {
  background-color: rgb(0, 0, 0);
  color: white;
}

div {
  margin-bottom: 1rem;
}

#gamesSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 300px;
  width: fit-content;
  transition: 0.2s ease-in-out all;
}
img:hover {
  height: 350px;
  box-shadow: 0 0 5rem white;
}
